extends layout
block head
    title=title
block content
    ul
        li
          a(href="/blog")
            img(src="/images/blog.png")
            span مدیریت محتوا
    ul
        li
          a(href="/book")
            img(src="/images/3.png")
            span کتاب فروشی
    ul
        li
            a(href="/gallery")
                img(src="/images/chat.png")
                span گالری
